# ------------------------
# Secrets
# ------------------------
config.env

# ------------------------
# Python cache
# ------------------------
__pycache__/
*.pyc

# ------------------------
# Virtual environments
# ------------------------
venv/
myenv/
.env/

# ------------------------
# IDE
# ------------------------
.vscode/

# ------------------------
# Generated data / outputs
# ------------------------
data/comments.json
data/sentiment_result.json

# ------------------------
# OS files
# ------------------------
.DS_Store
